/* property single */
.property-information {
	@include column-count( 2 );
	@include column-gap( 40px );
	
	li.row {
		padding: 8px;
		&:nth-child(odd) {
			background: rgba(0,0,0,0.2);
		}
	}
}

.listing-single-data {
	@include display( flex );
	@include justify-content( space-between );
}

.listing-single-basic-info {
	@include flex( 0 1 35% );
	
	li.row {
		padding: 6px 10px;
		&:nth-child(odd) { background: rgba(0,0,0,0.1); }
	}
}

.listing-single-rooms {
	@include flex( 0 1 55% );
	
	.rooms {
		margin: 0 0 20px;
	}
	
	.room {
		display: table;
		width: 100%;
		text-align:center;
		span { 
			padding: 6px;
			display: table-cell;
			width: 33.3333%;
		}
		
		&:nth-child(even) { background: rgba(0,0,0,0.1); }
	}
	
	.rooms-head {
		color: #fff;
		background: $secondaryColor;
	}
	
	.parking {
		margin: 0 0 20px;
		text-align:center;
	}
	
	.parking-space {
		display: table;
		width: 100%;
		span {
			padding: 6px;
			display: table-cell;
			width: 33.3333%;
		}
	}
	
	.parking-head {
		background: rgba(0,0,0,0.1);
	}
}

.inline-realtor {
	max-width: 700px;
	margin: 0 auto -60px;
	@include display( flex );
	@include justify-content( space-between );
	
	.realtor-img {
		@include flex( 0 1 240px );
		@include align-self( flex-end );
		position: relative;
		margin: 0 20px 0 0;
		
		&:after {
			content:"";
			display: block;
			padding: 0 0 175%;
		}
		
		.lazybg { 
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			background-size: contain;
			background-position: center bottom;
		}
		
	}
	
	.realtor-info {
		@include flex( 0 2 400px );
		padding: 60px 0 40px;
		
		.button {
			margin-bottom: 5px;
		}

	}
}

.listing-single-wrap {
	display: table;
	width: 100%;
}

.listing-single {
	display: table;
	width: 100%;
	.lazybg {
		display: table-cell;
		vertical-align: top;
		position: relative;
		img { max-width: 460px; }
		
		.button {
			position: absolute; 
			left:0; bottom:0;
		}
	}
	
}

.listing-single-info {
	display: table-cell;
	vertical-align: top;
	padding: 0 20px;
	
	p {
		font-size: 14px;
		line-height: 1.6;
	}
}

.listing-mortgage {
	display: table-cell;
	vertical-align: top;
	width: 380px;
}

.mortgage-item {
	@include display( flex );
	@include align-items( center );
	@include justify-content( space-between );
	background: #fff;
	padding: 12px;
	font-weight: 300;
	margin-bottom: 1px;
}

.mortgage-item-rate {
	font-size: 20px;
}

.mortgage-item-term {
	font-size: 12px;
	font-style: italic;
	display: block;
}

.mortgage-item-amount {
	font-size: 20px;
}

.mortgage-buttons {

	@include display( flex );
	padding: 10px 0;
	
	a {
		@include display( flex );
		@include align-items( center );
		@include flex( 1 );
		border-radius: 4px;
		padding: 8px;
		color: #282828;
		
		&:before {
			font-size: 28px;
			margin-right: 10px;
		}
		
		span {
			font-size: 14px;
		}
		
		&:hover {
			background: $secondaryColor;
			color: #fff;
		}
	}
	
}

.listing-single-stat-bar-wrap {
	@include display( flex );
	margin: 0 0 10px;
	
	.toggle-favorite {
		display: block;
		@include flex( 0 0 auto );
		text-align:center;
		color: #fff;
		background: $secondaryColor;
		margin-left: 8px;
		padding: 8px 16px;
		font-size: 14px;
		text-transform: uppercase;
		
		&:after {
			display: block;
		}
		
		&.is-favorite {
			background: $primaryColor !important;
		}
		
	}
	
}

.listing-single-stat-bar {
	@include display( flex );
	@include flex( 1 0 auto );
	background: $secondaryColor;
	color: #fff;
	padding: 8px;
	
	.listing-single-stat {
		display: block;
		@include flex( 1 1 auto );
		text-align:center;
		font-size: 12px;
		span { 
			font-weight: 600;
			font-size: 16px;
			display: block; 
		}
	}
}

@media screen and (max-width: 1200px) {
	.listing-single-wrap {
		display: block;
	}
	
	.listing-mortgage {
		padding-top: 20px;
		display: block;
		width: auto;
	}
	
	.mortgage-buttons {
		a { @include justify-content( center ); }
	}
	
}

@media screen and (max-width: 950px) {
	.property-information {
		@include column-count( 1 );
	}
}

@media screen and (max-width: 850px) {

	.listing-single-title {
		text-align: center;
		padding: 10px 0 0;
	}

	.listing-single,
	.listing-single-wrap {
		display: block;
	}
	
	.listing-single {
		.lazybg { 
			margin: 0 auto; 
			display: block;
		}
	}
	
	.listing-single-data {
		display: block;
		&>div {
			margin: 0 0 15px;
		}
	}
	
	.listing-single-info {
		padding:20px 0;
	}
	
}

@media screen and (max-width: 650px) {
	.inline-realtor {
		.realtor-info {
			padding-top: 20px;
		}
	}
}

.listing-single-page .body .row {
	display: table;
	width: 100%;
	.l,.r { display: table-cell; }
	.l { padding-right: 10px; }
}



@media screen and (max-width: 550px) {
	.listing-single-page .body .row {
		display: block;
		.l {
			text-transform: uppercase;
			font-weight: 600;
			display: block;
			font-size: 14px;
		}
		
		.r { 
			font-size: 18px; 
			text-align:left;
		}
	}
	
	.listing-single-rooms {
	
		.parking-space,
		.room {
			text-align:left;
			display: block;
			padding: 8px 0;
			span { 
				display: block; 
				line-height: 1;
				width: auto;
			}
			&>span:first-child {
				font-weight: 600;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
		
		.parking-head,
		.rooms-head { display: none; }
		
	}
	
	
}

@media screen and (max-width: 480px) {
	.inline-realtor {
		display: block;
		text-align:center;
		
		.realtor-img {
			@include perspective( 1px );
			margin: 0 auto 10px;
			max-width: 200px;
			border-radius: 50%;
			overflow:hidden;
			box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
			&:after { padding: 0 0 100%; }
		}
	}
	
	.mortgage-buttons {
		display: block;
		a { @include justify-content( flex-start ); }
	}
	
	.listing-single-stat-bar-wrap {
		display: block;
		
		.toggle-favorite {
			display: block;
			margin: 10px 0 0;
			
			&:after { display: inline-block; }
		}
	}
	
}

/* book showing */
.book-showing-inline-input-wrap {
	@include display( inline-flex );
	width: 300px;
	padding: 6px 14px;
	background: $fieldBackgroundColor;
	color: $secondaryColor;
	border: 1px solid $fieldBorderColor;
	text-align:left;
	
	&:before { 
		font-size: 20px; 
		margin-right: 5px;
	}
	
	input {
		@include flex( 1 );
		padding: 2px;
		background: transparent;
		color: $fieldTextColor;
		border: none;
		@include placeholder();
		
		&[type=text] { padding: 5px; }
	}
}

.book-showing-popup-wrap {
	display: none;
}

.book-showing-popup {
	padding: 40px 20px 20px;
	position: relative;
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
}

.book-showing-date-input-wrap {
	&:after {
		@include fa-icon();
		@include flex( 0 0 auto );
		content: $fa-var-angle-down;
		color: darken($fieldBackgroundColor,20);
		display: block;
		margin: 0 10px;
		font-size: 32px;
	}
}