.map-page .nav-wrap,
.map-page header { position: absolute; }

/* html marker */
.hanlon-marker {
	position: absolute;
	width: 36px; height: 36px;
	margin-top: -24px; margin-left: 7px;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
	background: $secondaryColor url(../images/vectors/hanlon-marker.svg) center no-repeat;
	background-size: 28px 28px;
	cursor: pointer;
	
	&.selected { visibility: hidden; }
	
	&.with-count:before {
		content: attr(data-count);
		position: absolute;
		display: inline-block;
		top: -10px; right: -10px;
		height: 20px;
		padding: 0 8px;
		line-height: 20px;
		text-align: center;
		color: #fff;
		background: $primaryColor;
		border-radius: 10px;
	}
	
	&:after {
		content:"";
		position: absolute;
		width:0; height:0;
		border: 6px solid transparent;
		border-top-color: $secondaryColor;
		bottom: -12px; left: 4px;
	}
	
	&:hover {
		background-color: darken($secondaryColor,10);
	}
	
}

.map-wrap {
	position: relative;
	
	.map-buttons {
		position: absolute;
		height:0;
		left:0; right:0; top: 10px;
		margin: 0 auto;
		z-index: 12;
		
		.button {
			text-transform: none;
			&:before { 
				font-size: 22px;
				margin-right: 10px; 
				vertical-align: middle;
			}
		}
		
	}
}

.map-loading-indicator {
	@include transition( opacity 0.2s $ease-in-out-sine );
	opacity:0;
	position: absolute;
	right:0; top: -60px;
	color: #fff;
	font-size: 28px;
	width: 40px; height: 40px; 
	
	.searching-map & { opacity:1; }
}

.map-canvas-wrap {
	height: 100vh;
	position: relative;

}

.map-canvas {
	height: 100%; width: 100%;
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: 8;
	img { max-width: inherit; }
}

.map-zoom-controls {
	position: absolute;
	bottom: 20px; right: 20px;
	z-index: 9;
	
	button {
		width: 40px; height: 40px;
		display: block;
		font-family: Arial,Helvetica,sans-serif;
		font-weight: bold;
		cursor: pointer;
		text-align:center;
		line-height: 40px;
		margin-top: 7px;
		font-size: 32px;
		box-shadow: 0 0 8px rgba(0,0,0,0.4);
		background: rgba(255,255,255,0.9);
		color: #999;
		
		&:hover { background: #efefef; }
		
		&:active { 
			background: $secondaryColor;
			color: #fff;
		}
	}
}

.list-canvas-wrap {
	display: none;
	background: #efefef;
	
	.show-more-properties { margin: 10px 0; }
	
	.searching-map &,
	.showing-all & {
		.show-more-properties { display: none; }
	}
}

.list-canvas {
	padding: 60px 0 20px;
	&.grid {
		margin-top:0;
		margin-bottom:0;
	}
}

.hanlon-map {

	.map-button,
	.list-button { border: none; }

	.map-button { background-color: $primaryColor; }
	.list-button { background-color: $secondaryColor; }
	
	&.show-list {
		.list-button { background-color: $primaryColor; }
		.map-button { background-color: $secondaryColor; }
	}
}

.show-list {
	.map-canvas-wrap { display: none; }
	.list-canvas-wrap { display: block; }
}

/* custom info window */
$customInfoWindowBGColor: #f8f8f8;
.custom-info-window { 
	@include transform( translateZ(0) );
	position: absolute; left:0; right:0; 
	display: inline-block; 
	z-index: 10; 
	width: 380px; 
	max-width: 85%; 
	visibility: hidden;
	z-index: 999999;
	
	&.visible { visibility: visible; }
	
	.pointer{
		position: absolute; 
		left: 0; right: 0; 
		display: block; 
		width: 0; height: 0; line-height: 0; 
		content:""; 
		overflow: hidden; 
		border: 15px solid transparent; 	
		margin-left: auto; margin-right: auto;
	}
	
	&.above .pointer,
	&.below .pointer { border-width: 30px 15px; }
	
	&.left .pointer,
	&.right .pointer {
		border-width: 15px 30px; 
		top: 50%; 
		margin-top: -15px; 
		left: auto; right: auto;
	}
	
	&.above { 
		margin-top: -30px; 
		.pointer { border-top-color: $customInfoWindowBGColor; bottom: -59px; }
	}
	&.below { 
		margin-top: 15px; 
		.pointer { border-bottom-color: $customInfoWindowBGColor; top: -59px; }
	}
	&.left { 
		margin-left: -30px; 
		.pointer { border-left-color: $customInfoWindowBGColor; right: -60px; }
	}
	&.right { 
		margin-left: 30px; 
		.pointer { border-right-color: $customInfoWindowBGColor; left: -60px; }
	}
	
}

.custom-info-window-content { 
	background: $customInfoWindowBGColor;
	box-shadow: -2px 2px 4px rgba(0,0,0,0.4);
	position: relative;
	cursor: default;
}

.fa-close {	
	.custom-info-window-content &,
	.responsive-info-window & {
		position: absolute;
		top: 0; right: 0;
		width: 24px; height: 24px;
		color:  $secondaryColor;
		font-size:  20px;
		line-height: 1;
		background: rgba(255,255,255,0.4);
		cursor: pointer;
		z-index: 10;
		&:hover { background: $secondaryColor; color: #fff; }
	}
}

.custom-info-window {
	.fp-img { max-width: 100%; }
	
	.fp-price { 
		@include display( flex );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	.fp-specs,
	.fp-buttons,
	.fp-brokerage { display: none; }
	
}

.cluster-arrows {

	.custom-info-window &,
	.responsive-info-window & {

		position: absolute;
		bottom:  10px;
		right: 10px;
		
		button {
			width: 30px; height: 30px;
			line-height: 30px;
			float: left;
			margin: 0 2px;
			border: 1px solid $secondaryColor;
			border-radius: 30px;
			color: $secondaryColor;
			cursor: pointer;
			font-size: 24px;
			&.next-arrow:before { text-indent: 4px; }
			&.prev-arrow:before { text-indent: -4px; }
			
			&:hover {
				background: $secondaryColor;
				color: #fff;
			}
		}
	
	}
	
	.responsive-info-window & {
		bottom: auto; right: auto;
		top: 20px; left: 20px;
		button { background-color: #fff; }
	}
}

/* property search */
.property-search-close,
.property-search-handle { display: none; }
.property-search {
	padding: 10px 0;
	form {
		@include display( flex );
	}
	
	button {
		@include align-self( flex-end );
		border-radius: 4px;
		padding: 7px 12px;
	}
	
	label {
	
		margin-right: 20px;
		
		small { 
			display: block; 
		}
		
		.selector { 
		
			margin:0;
			border-radius: 4px;
			overflow: hidden;
			
			&:after {
				border: none;
				background: #fff;
				color: $secondaryColor;
			}
			
			.value {
				color: $secondaryColor;
				padding: 7px;
				background: #fff;
				font-size: 14px;
			}
			
			&:hover {
				&:after,
				.value {
					background: $secondaryColor;
					color:#fff;
				}
			}
			
		}
	}
}

.map-page {

	.responsive-info-window { 
		@include transition( 0.4s all $ease-in-out-sine );
		@include transform( translate3d(0, 100%, 0) );
		position: fixed;
		bottom:0; left:0; right:0; height: 100vh;
		overflow: auto;
		z-index: 21;
		display: none;
		
		&.show { @include transform( none ); }
	}

	@media screen and (max-width: 850px) {
			padding-bottom: 65px;
			footer { display: none; }
			
			.property-search {
				background: $secondaryColor;
				position: fixed;
				bottom:0; left:0; right:0;
				z-index:100;
			}
			
			.body section:last-child:not(.map-wrap) { display: none; }
	}
	
	@media screen and (max-width: 750px) {
	
		padding-bottom:0;
		
		.map-loading-indicator {
			@include transform( translate3d(-50%,-50%,0) );
			position: fixed;
			top: 50%; left: 50%;
			z-index: 110;
			background: $secondaryColor;
			font-size:0;
			border-radius: 20px;
			&:before { font-size: 28px; }
		}
		
		.property-search-handle {
			@include transform( translate3d(0, -150%, 0) );
			display: block;
			position: absolute;
			left:20px; 
			color: #fff;
			background: $secondaryColor;
			width: 42px; height: 42px;
		}
		
		.property-search-close {
			display: block;
			position: absolute;
			right: 10px; top:0;
			color: #fff;
			background: $secondaryColor;
			width: 42px; height: 42px;		
		}
		
		.property-search {
			@include transform( translate3d(0, 100%, 0) );
			@include transition( all 0.3s $ease-in-out-sine );
			&.show-search { @include transform( none ); }
			padding: 0;
			background: rgba($secondaryColor,0.9);
		}
	
		.property-search form {
			padding: 30px 15px 15px;
			margin: 0 -2.5%;
			max-height: 100vh;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		
			&,
			label,
			button { display: block; }
			
			label { margin: 0 0 10px; }
		}
	}

	@media screen and (max-width: $collapseNavAt) {
		header { display: none; }
		.body { padding:0; }
		.map-buttons { 
			position: fixed;
			z-index: 10;
			text-align:right; 
		}
		
		.responsive-info-window { display: block; }
	}

}