/* hero */
.hero {
	
	position: relative;
	
	.swipe-item {
		position: relative;
		background-color: $secondaryColor;
	}
	
}

.hero-content-wrap {
	max-width: 95%;
	width: 1140px;
	height: 100vh;
	min-height: 500px;
	max-height: 800px;
	padding-top: $headerHeight + $navTopHeight;
	position: relative;
	padding-top: 80px;
	z-index: 2;
	margin: 0 auto;
	@include display( flex );
	@include justify-content( space-between );
	
	body:not(.home) & .hgroup {
		@include align-self( center );
		margin: auto;
		text-align:center;
		
		.hgroup-title { color: $secondaryColor; }
	}
}

.hero-realtor {
	@include align-self( flex-end );
	@include display( flex );
	margin-left: 40px;
	
	.realtor-img {
		@include flex( 0 0 auto );
		@include order( 99 );
		background-size:contain;
		background-position: center bottom;
		width: 60%;
		&:after {
			padding: 0 0 175%;
			content:"";
			display: block;
		}
	}
	
	.realtor-info {
		@include align-self( flex-end );
		padding-bottom: 40px;
		
		.realtor-name {
			color: $secondaryColor;
			text-transform: uppercase;
			display: block;
			margin: 0 0 10px;
			
			&:before {
				font-size: 14px;
				color: $mediumColor;
				text-transform: none;
				content: attr(data-pre);
				display:block;
			}
		}
		
		.button {
			margin: 0 0 4px;
		}
	}
}

.home .hero-content {
	@include align-self( center );
	
	.button {
		margin: 0 0 10px;
	}
}

.home .hero-content,
.hero-realtor {
	@include flex( 0 1 480px );
}

.hero-content .single-form {
	
	margin: 20px 0 0;
	
	input {
		padding: 16px;
		font-size: 14px;
	}
	
	button {
		background: $secondaryColor;
		color: #fff;
		width: 50px;
		
		&:hover,
		&:focus {
			background: $primaryColor;
		}
	}
}

.swipe-item-bg {
	position: absolute;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: $headerHeight + $navTopHeight;
	opacity:0;
	@include transition( opacity 0.25s $ease-in-out-sine );	
	left:0; right:0; bottom:0;
	&.loaded,
	.loaded & { opacity:1; }
}

@media screen and (max-width: $collapseNavAt) {
	.hero .swipe-item { padding-top: 0; }
	.swipe-item-bg { top: 0; }
}

@media screen and (max-width: 850px) {
	.home .hero-content { 
		@include flex( 1 ); 
		text-align:center;
	}
	.hero-realtor { display: none; }
}