.primary-bg { background: $primaryColor; }
.secondary-bg { background: $secondaryColor; }
.lighter-bg { background: #f5f5f5; }

@media screen and (max-width: $collapseNavAt) {
	.page-wrapper { background: #f5f5f5; }
	.body { background: #f5f5f5; }
	.hero + .body { background: #fff; }
}

.body {
	padding-top: $headerHeight + $navTopHeight;
	&>section:first-child { padding-top:20px; }
}

.hero + .body {
	padding-top:0; 
	&>section:first-child { padding-top:60px; }
}

/* modules */
@import "site/split_block";
@import "site/search_form";
@import "site/featured_property";
@import "site/listing_single";
@import "site/map_page";
@import "site/signin_modal";

.tooltipster-base { 
	background: $primaryColor !important;
	border: none !important;
}

.tooltipster-arrow-span {
	background: $primaryColor !important;
}

.tooltipster-arrow-border { display: none !important; }

/* sidebar */
.sidebar-mod {
	.mod-title { 
		font-weight: 400; 
		text-transform: uppercase;
	}
}

.acc-mod {

	.acc-item {
		margin: 0 0 1px;
		border: 1px solid #e3e3e3;
	}
	
	.acc-item-handle {
		color: $secondaryColor;
		background: #e3e3e3;
		font-size: 14px;
		
		.count {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
			border-radius: 12px;
			margin-right: 5px;
			color: #fff;
			background: $secondaryColor;
			padding: 4px 6px;
		}
		
		&:after { color: $secondaryColor !important; }
	}
	
	.expanded>.acc-item-handle,
	.acc-item-handle:hover { background: darken(#e3e3e3,10); }

	.acc-item-content {

		padding: 10px 0;
		border: none;
		background: #f7f7f7;

		a {
			display: block;
			font-size: 12px;
			color: $secondaryColor;
			padding: 5px;

			&:hover {
				background: $secondaryColor;
				color: $lightColor;
			}
		}
	}

}

.share-mod {

	a {
		@include t-fa();
		display: block;
		color: $darkColor;
		padding: 8px;
		border-radius: 6px;
		margin-left: -8px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1;
		&:hover { 
			&,
			&:before { color: #fff; }
		}
		&:before {
			color: $secondaryColor;
			font-size: 26px;
			margin-right: 8px;
			width: 32px;
			vertical-align: middle;
		}
	}

	.share-fb {
		&:hover { background:#3b5998;}
		&:before { content: $fa-var-facebook;}
	}

	.share-tw {
		&:hover { background: #4099ff;}
		&:before { content: $fa-var-twitter; }
	}

}

/* article-sidebar overrides */
@media screen and (max-width: 1020px) {

	.main-body {
		@include flex-flow( row wrap );
		@include justify-content( center );

		.content {
			@include flex( 1 2 850 - $sidebarWidth );
		}

		.sidebar {
			margin: 0 auto 20px;
		}

		.sidebar-primary {
			@include order( inherit );
			padding-left: 20px;
		}
		.sidebar-secondary {
			@include flex( 0 0 100% );
		}

	}

}

@media screen and (max-width: 910px) {
	.sidebar-primary { padding:0; }
}


.toggle-favorite {
	&:after {
		@include fa-icon();
		content: $fa-var-heart-o;
		margin: 0 3px;
	}
	
	&.is-favorite {
		background: $secondaryColor !important;
		&:hover { background: darken($secondaryColor,10) !important; }
	}
}

/* advice-tools */
.advice-block {
	text-align:center;
	
	.single-form {
		margin: 15px auto;
		width: 380px;
		max-width: 100%;
		input {
			padding: 10px;
		}
		
		button {
			background: $secondaryColor;
			color: #fff;
			&:hover {
				background: $primaryColor;
			}
		}
	}
	
	.body-form {
		margin: 15px auto;
		width: 380px;
		max-width: 100%;
		input {
			padding: 10px;
			background: #fff;
			border: none;
		}
	}
}

.tools-block {
	text-align:center;
	.ico {
		display: block;
		font-size: 32px;
		text-align: center;
		margin: 0 0 10px;
	}
}

.story-snippet {
	text-align:center;
	
	.story-meta {
		font-weight:600;
		display:block;
		margin: 0 0 10px;
		color: $mediumColor;
	}
	
	@media screen and (max-width: 599px) {
		p { display: none; }
	}
}

.scroll-down {
	&:after {
		@include fa-icon();
		content: $fa-var-angle-down;
		display: block;
		color: $secondaryColor;
		font-size: 42px;
		margin: 20px 0 0;
	}
}

/* app callout */
.app-callout { }
.app-download { 

	display: block;
	position: relative;
	padding-left: 165px;

	&:before {
		content:"";
		width: 165px;
		position: absolute;
		top:0; left:0; bottom:0;
		background: url(../images/temp/mobile-app.png) left center no-repeat;
		background-size: contain;
		display: block;
	}

	form {
		margin: 20px 0;
	}
	
	.app-store-badge {
		width: 106px;
		font-size:0;
		display:inline-block;
		
		&:after {
			content: "";
			display: block;
			padding: 0 0 30%;
		}
	}

	.fieldset {
		@include display( flex );
		@include justify-content( flex-start );
		input { 
			border: 1px solid #fff; 
			margin-right: 4px;
			padding: 6px;
			text-align:center;
		}
		
		input[maxlength='3'] { width: 60px; }
		input[maxlength='4'] { width: 80px; }
	}
	
	@media screen and (max-width: 599px) {
		& {
			text-align:center;
			padding-left:0;
			&:before { display: none; }
		}
		
		.fieldset {
			@include justify-content( center );
		}
	}
	
	@media screen and (max-width: 450px) {
		.fieldset {
			display:block;
			.button { 
				display: block;
				margin: 15px auto 0;
			}
		}
	}

}
.app-features {
	text-align: center;
	
	.col { 
		width: 33.3333%; 
		font-size: 14px;
		
		@media screen and (max-width: 599px) { 
			width: 100%; 
			padding-bottom: 40px;
		}
	}	
	.ico { 
		color: $secondaryColor; 
		font-size: 32px; 
		display: block;
		margin: 0 0 10px;
	}
}

.app-feature-title {
	color: $secondaryColor !important;
	font-weight: 400;
	margin:0;
	text-transform: uppercase;
}

.img-side-img { display: none; }

.img-side-block {
	border-top: 1px solid lighten($mediumColor,40);
	& + & {
		border-width:0;
	}
}

@media screen and (min-width: 900px) {
	.img-side-block { 
		position: relative;
		.sw { position: static; }
		
		& + & {
			border-width:0;
			.img-side-content {
				margin: 0 0 0 50%;
				padding: 0 0 0 10%;
				min-height: 200px;
			}
			
			.img-side-img {
				left:0; right: 45%;
			}
		}
	}

	.img-side-content {
		margin: 0 50% 0 0;
		padding: 0 10% 0 0;
	}

	.img-side-img {
		position: absolute;
		display: block;
		top:0; left: 45%; right:0; bottom:0;
	}
}

.snippet-block {
	width: 100%;
	margin: 0 auto;
	max-width: 650px;
	text-align:center;
}

/* affordability calculator */
.affordability-calculator-wrap {
	display: table;
	width: 100%;
}

.affordability-calculator {
	@include display( flex );
	padding-right: 40px;
}

.affordability-calculator-info,
.affordability-calculator-fields {
	@include flex( 1 );
}

.affordability-calculator-info-buttons {
	margin: 10px 0 0;
	
	.lazybg {
		display: inline-block;
		vertical-align: bottom;
		width: 82px;
		height: 52px;
	}
	
}

.affordability-calculator-fields {
	padding-left: 20px;
}

.affordability-calculator-results {
	display: table-cell;
	vertical-align: middle;
	padding-left: 40px;
	border-left: 1px solid $mediumColor;
	width: 450px;
	text-align:center;
	
	.lazybg {
		width: 92px; height: 58px;
		margin: -10px auto 15px;
	}
	
}

.affordability-calculator-price {
	font-weight: 600;
	color: $secondaryColor;
	display: block;
	text-align: center;
	font-size: 36px;
}

@media screen and (max-width: 1100px) {
	.affordability-calculator-wrap {
		display: block;
	}
	
	.affordability-calculator-results {
		display: block;
		padding:0; 
		margin:20px auto 0;
		max-width: 100%;
		border: none;
	}
}

@media screen and (max-width: 800px) {
	.affordability-calculator { display: block; }
	.affordability-calculator-info { margin: 0 0 40px; }
}

/* selector */
.selector.with-arrow {
	background: $fieldBackgroundColor;
	border: 1px solid $fieldBorderColor;
}

/* home value swiper */
.home-value-swiper {
	text-align:center;
	
	.swipe-item-content {
		margin: 0 auto;
		max-width: 400px;
	}
	
	.label-wrap {
		@include display( flex );
		padding-bottom: 10px;
		
		label {
			@include display( flex );
			@include align-items( flex-end );
			@include flex( 1 );
			position: relative;
			overflow: hidden;
			
			input { 
				visibility: hidden; 
				position: absolute;
				top: -100px; left: -100px;
			}
			
			span {
				padding: 10px;
				margin: 0 2px;
				display: block;
				border: 1px solid transparent;
			}
			
			input:focus + span,
			input:checked + span,
			&:hover span {
				background: #f5f5f5;
				border-color: #e0e0e0;
			}
			
			input:checked + span {
				background: rgba($secondaryColor,0.4);
				color: #fff;
			}
		}
		
		img {
			width: 60px;
			display: block;
			margin: 0 auto 5px;
		}
	}
	
	
}